<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [1]:
print ("Hello, my name is Angel")
nama = "Angel"
print ("Hello, my name is " + nama)

Hello, my name is Angel
Hello, my name is Angel

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [2]:
# Soal a
kotak = 4
isi = 15
orang = 12
tiaporang = (kotak * isi)/orang
print (tiaporang)


# Soal b
Hasil = 8**1/3
print (Hasil)

# Soal c
uang = 50000
isi = 100
binder = 7500

import math
beli = math.floor(uang / binder)
print (beli)

kembalian = uang - (binder * beli)
print (kembalian)

kertas = isi * beli
print (kertas)

5.0
2.6666666666666665
6
5000
600

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [3]:
# Konversi
string = "1000"
integer = int(string)
print (str(integer) + str(type(integer)))

f = 5.25
i = int(f)
print (str(i) + str(type(i)))

i2 = 5
f2 = float(i2)
print (str(f2) + str(type(f2)))

i3 = 1000
s = str(i3)
print (str(s) + str(type(s)))

1000<class 'int'>
5<class 'int'>
5.0<class 'float'>
1000<class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [4]:
# 1
kalimat = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = kalimat[20:31]
print (substring)

# 2
list = kalimat.split(' ')
print (list)

# 3
print (kalimat[::-1])

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [5]:
# Fakultas
fakultas = ("School of Business Management", "School of Creative Industry", "School of Tourism", "School of Information Technology", "School of Medicine", "School of Dental Medicine", "School of Psychology", "School of Communication Science and Media Business", "School of Entrepreneurship and Humanities")
print (len(fakultas))

print (fakultas.index("School of Information Technology"))

9
3

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [6]:
# 1
favorit = ("sate bencong", "gyukaku", "nasi goreng")

# 2
for a in favorit:
  print (a)

# 3
for a in favorit:
  print ("Aku ingin pesan " + a)

# 4
fav = "babi"
print ("Aku ingin mengganti pesananku jadi " + fav)

sate bencong
gyukaku
nasi goreng
Aku ingin pesan sate bencong
Aku ingin pesan gyukaku
Aku ingin pesan nasi goreng
Aku ingin mengganti pesananku jadi babi

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [7]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
satudua = set1.union(set2)
print (satudua)

# 3
print (bool(set1.intersection(set3)))

# 4
print (bool(set4.issubset(set1)))

{1, 2, 3, 4, 6, 8}
False
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [24]:
# Program Bayar Listrik
while True:
    penggunaan = input("Jumlah penggunaan listrik (kWh): ")

    if penggunaan.isdigit():
        penggunaan = float(penggunaan)
        break
    else:
        print("Input tidak valid. Harap masukkan angka yang benar.")

if penggunaan < 100:
  biaya = 100 * 1000
elif penggunaan < 1000:
  biaya = penggunaan * 1000
elif penggunaan >= 1000:
  biaya = penggunaan * 2000
  biaya = biaya + (0.1 * biaya)


print ("Total biayanya " + str(biaya))

Jumlah penggunaan listrik (kWh): 700
Total biayanya 700000.0

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [36]:
# Program Angkot Abdimas UC

kapasitas = int(input("Jumlah orang: "))

import math
if kapasitas > 0:
    angkot = math.ceil(kapasitas / 10)
    print ("Total angkot " + str(angkot))
else:
    print("Jumlah orang tidak bisa negatif.")

Jumlah orang: -1
Jumlah orang tidak bisa negatif.

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [49]:
import numpy as np

# 1
hr = np.array (['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

In [50]:
# 2
hr.sort()
print (hr)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [52]:
# 3
hari = hr[np.random.randint(0,7)]
print ("Selamat hari", hari, "adalah hari baikmu bulan ini!")

Selamat hari Senin adalah hari baikmu bulan ini!

In [53]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print (matriks)
print (matriks.shape)
print (matriks.ndim)

[[2 3 5 6]
 [3 6 1 5]
 [1 3 4 3]]
(3, 4)
2

In [54]:
# 5
m = np.array ([[1 ,2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print (m[:, 2])

[ 3  7 11]

In [55]:
# 6
m = m.reshape(2, 6)
print (m)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [56]:
import pandas as pd

# 1
data = ["Information", "Systems", "for", "Business"]
series = pd.Series(data)
print (series)


# 2
data = { "brand": "Ford", "model": "Mustang", "year": 1964 }
df = pd.DataFrame(data, index=[0])
print (df)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [58]:
# 3
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls')
print (df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [59]:
# 4
print (df['State'].unique())

['New York' 'California' 'Florida']

In [63]:
# 5
df = df.sample(n=10)
print (df.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
26   75328.87       144135.98        134050.07     Florida  105733.54
48     542.05        51743.15             0.00    New York   35673.41
40   28754.33       118546.05        172795.67  California   78239.91
34   46426.07       157693.92        210797.67  California   96712.80

In [64]:
# 6
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 41
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        10 non-null     float64
 1   Administration   10 non-null     float64
 2   Marketing Spend  10 non-null     float64
 3   State            10 non-null     object
 4   Profit           10 non-null     float64
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [65]:
# 7
print (df.loc[df['State'] == 'California', ['R&D Spend', 'Marketing Spend']])

    R&D Spend  Marketing Spend
40   28754.33        172795.67
34   46426.07        210797.67
20   76253.86        298664.47
9   123334.88        304981.62

In [66]:
# 8
print (df.isnull().sum())

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [67]:
# 9
df = df[df['Profit'] >= 50000]
print (df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
26   75328.87       144135.98        134050.07     Florida  105733.54
40   28754.33       118546.05        172795.67  California   78239.91
34   46426.07       157693.92        210797.67  California   96712.80
20   76253.86       113867.30        298664.47  California  118474.03
38   20229.59        65947.93        185265.10    New York   81229.06
9   123334.88       108679.17        304981.62  California  149759.96
17   94657.16       145077.58        282574.31    New York  125370.37
41   27892.92        84710.77        164470.71     Florida   77798.83

In [68]:
# 10
df = df.sort_values(by='Marketing Spend', ascending=False)
print (df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
9   123334.88       108679.17        304981.62  California  149759.96
20   76253.86       113867.30        298664.47  California  118474.03
17   94657.16       145077.58        282574.31    New York  125370.37
34   46426.07       157693.92        210797.67  California   96712.80
38   20229.59        65947.93        185265.10    New York   81229.06
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
26   75328.87       144135.98        134050.07     Florida  105733.54

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [69]:
# 1
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv')
print (df)

      No  X1 transaction date  X2 house age  \
0      1             2012.917          32.0
1      2             2012.917          19.5
2      3             2013.583          13.3
3      4             2013.500          13.3
4      5             2012.833           5.0
..   ...                  ...           ...
409  410             2013.000          13.7
410  411             2012.667           5.6
411  412             2013.250          18.8
412  413             2013.000           8.1
413  414             2013.500           6.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                  84.87882                               10
1                                 306.59470                                9
2                                 561.98450                                5
3                                 561.98450                                5
4                                 390.56840                                5
..                                      ...                              ...
409                              4082.01500                                0
410                                90.45606                                9
411                               390.96960                                7
412                               104.81010                                5
413                                90.45606                                9

     X5 latitude  X6 longitude  Y house price of unit area
0       24.98298     121.54024                        37.9
1       24.98034     121.53951                        42.2
2       24.98746     121.54391                        47.3
3       24.98746     121.54391                        54.8
4       24.97937     121.54245                        43.1
..           ...           ...                         ...
409     24.94155     121.50381                        15.4
410     24.97433     121.54310                        50.0
411     24.97923     121.53986                        40.6
412     24.96674     121.54067                        52.5
413     24.97433     121.54310                        63.9

[414 rows x 8 columns]

In [70]:
# 2
print (df.sample(n=10))

      No  X1 transaction date  X2 house age  \
343  344             2013.000          33.5
352  353             2012.833          18.4
171  172             2013.083           3.6
325  326             2013.083          36.6
40    41             2013.000          13.6
4      5             2012.833           5.0
117  118             2013.000          13.6
8      9             2013.500          31.7
20    21             2013.417           4.5
206  207             2013.250          22.2

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
343                                563.2854                                8
352                               2674.9610                                3
171                                383.8624                                5
325                                488.8193                                8
40                                4082.0150                                0
4                                  390.5684                                5
117                               4197.3490                                0
8                                 5512.0380                                1
20                                2275.8770                                3
206                                379.5575                               10

     X5 latitude  X6 longitude  Y house price of unit area
343     24.98223     121.53597                        46.6
352     24.96143     121.50827                        25.7
171     24.98085     121.54391                        58.8
325     24.97015     121.54494                        38.1
40      24.94155     121.50381                        15.9
4       24.97937     121.54245                        43.1
117     24.93885     121.50383                        13.0
8       24.95095     121.48458                        18.8
20      24.96314     121.51151                        29.3
206     24.98343     121.53762                        44.0

In [71]:
# 3
print (df.describe())

               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [72]:
# 4
df = df.drop(columns=['No'])

In [73]:
# 5
print (df.isnull().sum())

X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64